<div class="main-header main-header-fixed">
  <div class="container">
    <div class="main-header-left ">
      <a class="header-brand" href="/">
        <img src="/assets/img/brand/logoq-dark.png" height="48" alt="quorra logo">
      </a>
    </div>
    <div class="main-header-center">
      <div class="responsive-logo">
        <a href="index.html"><img src="/assets/img/brand/logo-white.png" class="mobile-logo" alt="logo"></a>
      </div>
    </div>
    <div class="main-header-right">

    </div>

  </div>
</div>

<!--Horizontal-main -->
<div class="horizontal-main hor-menu clearfix side-header">
  <div class="horizontal-mainwrapper container clearfix">
    <!--Nav-->
    <nav class="horizontalMenu clearfix">
      <ul class="horizontalMenu-list">
        <li aria-haspopup="true">
          <a routerLink="/dash" class="sub-icon"><i class="fa fa-pencil menu-icon"></i>Dashboard</a>
        </li>
        <li aria-haspopup="true">
          <a routerLink="/event-log" class="sub-icon"><i class="fa fa-pencil menu-icon"></i>Event Log</a>
        </li>
        <li aria-haspopup="true">
          <a routerLink="/logout" class="sub-icon"><i class="fa fa-pencil menu-icon"></i>Logout</a>
        </li>
      </ul>
    </nav>
    <!--Nav-->
  </div>
</div>
